/********************************************************************* CSS VARIABLES *********************************************************************/ 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : #191919;
  --third-color : #575757;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-bebas : "Bebas Neue", sans-serif;
  --font-open-sans : 'Open Sans', sans-serif;
  --font-text :'Josefin Sans', sans-serif;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
}

h1, h2 {
  font-family: var(--font-title);
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  padding: 1rem;
  border-radius: 0.75rem;
  font-weight: bold;
  color: black !important;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}
/********************************************************************* HEADER *********************************************************************/ 
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 3;
}

.header .desktop_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .desktop_nav img {
  height: 120px;
  width: 120px;
  object-fit: contain;
  margin:10px 0;
}

.desktop_nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktop_nav div a {
  margin: 0 15px;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-family: var(--font-open-sans);
  font-weight:700;
}


/********************************************************************* HOME *********************************************************************/ 
.home_hero {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  margin: 0;
}
.home_hero video {
  width: 100%;
  height: 120%;
  object-fit: cover;
  object-position: center;
}
 .veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 0, 0, 0.5);
}

.home_hero h1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -0%);
  color: white;
  font-family: var(--font-bebas);
  font-size: 3.5rem;
  text-align: center;
  padding: 0 1rem;
  z-index: 1;
}

.home_hero a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.home_hero a img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@keyframes pulse-size {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); } /* Grossit de 5% */
  100% { transform: scale(1); }

}
.pulse-element {
  animation: pulse-size 2s infinite ease-in-out;
  /* Si tu veux l'ombre, décommente la ligne du dessous */
  /* animation: pulse-shadow 2s infinite; */
}
.home_presentation {
  width: 100%;
  max-width: 100vw;
  padding: 60px 10vw 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.home_presentation > div {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;
  margin-top: 60px;
}




.embla {
  overflow: hidden; /* Cache les slides qui ne sont pas actives */
  width: 40%;
  background-color: #f3f4f6;
}

.embla__container {
  display: flex; /* Aligne les slides horizontalement */
}
/* La slide : ON FORCE LE CARRÉ ICI */
.embla__slide {
  flex: 0 0 100%; /* Une seule slide visible à la fois */
  min-width: 0;
  aspect-ratio: 1 / 1; /* FORCE LE FORMAT CARRÉ */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* L'image à l'intérieur */
.embla__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Remplit le carré sans déformer l'image */
  display: block;
}

.home_presentation article {
  padding: 30px 60px;
  width: 50%;
  margin-left: 0px;
}

.home_presentation article p {
  margin-bottom: 15px;
}

.gradient-rainbow {
  width: 100%;
  height: 5px;
    background: linear-gradient(135deg, #FF0080 0%, #FF8C00 20%, #FFD700 40%, #00FF00 60%, #0080FF 80%, #8000FF 100%);
  position: absolute;
  top: 0;
  margin: 0! important;
}

.home_chiffres {
  display: flex;
  padding: 0px 12.5vw;
  justify-content: space-between;
  align-items: center;
}

.home_chiffres_description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 55%;
  margin-right: 20px;
  flex-direction: column;
}

.home_chiffres_chiffre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}

.home_chiffres_chiffre > div {
  width: 45%;
  margin:2.5%;
  height: 200px;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.home_chiffres h5 {
  font-size: 4rem;
  font-family: var(--font-bebas);
  margin-bottom: 10px;
}

.home_chiffres_chiffre p {
  text-align: center;
  padding: 0 10px;
  color: var(--third-color);
}

 h3 {
  font-size: 4rem;
  margin-bottom: 15px;
  font-family: var(--font-bebas);
}

.home_chiffres_description p {
  color: var(--third-color);
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 1.5rem;
}

.home_actions {
  padding: 40px 0 0;
}

 h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: var(--font-bebas);
}

.home_actions .embla {
  width: 100%;
  margin: 40px 0 80px;
  padding: 0;
  position: relative;
  border-radius: 0px;
  border: solid 1px #e1e1e1;
}

.home_actions .embla__slide {
  flex: 0 0 100%; /* Une seule slide visible à la fois */
  min-width: 0;
  height: 80vh;
  aspect-ratio: initial; /* FORCE LE FORMAT CARRÉ */
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}

.home_actions .embla__slide img {
  width: 70%;
  height: auto;
  object-fit: cover; /* Remplit le carré sans déformer l'image */
  display: block;
}

.home_actions .embla__slide div {
  width: 30%;
  background: lightsalmon;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 40px ;
  position: relative;

}

.home_actions .embla__slide .veil {
  z-index: 1;
  position: absolute ;
  background: black ;
  opacity: 0.3;
  width: 100% ;
  height: 100% ;
}


.home_actions .embla__slide div * {
  z-index: 2;
}
.home_actions .embla__slide div h4 {
  font-family: var(--font-bebas);
  color: white;
  padding:10px 0px;
  font-size: 2.5rem;

  z-index: 3 !important;
}

.home_agenda div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_agenda .home_dates {
  margin: 40px auto 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home_dates > * {
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  border: lightsalmon 1px solid;
  font-family: var(--font-bebas);
  font-size: 1.5rem;
}

.red {
 background: rgb(190, 3, 34);
  color: white;
}

.home_agenda  .agenda_container {
  display: flex;
justify-content: center;
align-items: stretch;
  gap: 20px;
  width: 100%;
  padding: 0px 12.5vw;
}

.home_agenda  .agenda_card {
 box-shadow: var(--box-shadow);
 border-radius: 15px;
 margin: 5px;
 padding: 0px;
 display: flex;
 flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  width: 30%;
    max-height: 60vh;
}

.home_agenda .agenda_card > img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  overflow: hidden;
}

.home_agenda .agenda_card > div {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  align-items: flex-start;
  height: 60%;

} 

.home_soutenir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 10vw;
  margin: 120px 0;
  text-align: center;
  color: white;
background: var(--secondary-bg-color);
}

.home_soutenir h4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 40px;
  color: white;
}